*{
    overflow-x: hidden;
    ;
}
html{
    scroll-behavior: smooth;
}
.my-head{
    /* height: 70vh; */
}
.background-clip{
    height: 200vh;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }

    
}
@media(max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}
.my-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}


   
 .main{
    height: 98vh;
 }
 #hero {
    width: 100%;
    height: calc(100vh - 110px);
    background: url("../assets/9529507.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #cc1616;
    border-color: #cc1616;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      text-align: center;
    }
  
    #hero .container {
      padding-top: 40px;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  .my-anchor{

  }
  .my-anchor img{
    cursor: pointer;
  }
  .my-anchor:hover img{
    transform: scale(1.1);

  }
  .my-hover a{
    cursor: pointer;
    overflow: hidden;

  }
  .my-hover:hover a{
    transform: scale(1.1);
    overflow: hidden;
  }
 .navy{
  width: 100%;
 }
 @media (max-width: 768px) {
  .navy {
      width: 90%;
  }
}